html {
    background-color: #151515;
}

* {
    color: white;
    font-family: "Poppins";
}

.logo {
    width: 128px;
    margin-bottom: 15px;
}

a {
    color: royalblue;
    text-decoration: underline;
    cursor: pointer;
}

a:hover {
    text-decoration: none;
}

progress {
    width: 456px;
    height: 15px;
}

input,
textarea {
    width: 48px;
    color: black;
}

#file {
    color: #f8f8ff;
}

button {
    background-color: #f8f8ff;
    color: black;
    border-radius: 5px;
    border-color: transparent;
}

nav {
    display: flex;
    justify-content: center;
}

nav * {
    margin-right: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 248px;
}

form * {
    margin-bottom: 15px;
    width: 100%;
}

#img {
    width: 456px;
    margin-top: 15px;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
